#mapmenu .nav-list > li.altiProfil .icon{
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='%2323536f' viewBox='0 0 700 700'><path d='M 693.569 553.647 L 600.703 407.403 L 600.703 452.738 C 600.703 484.177 575.108 509.043 544.398 509.043 C 513.688 509.043 488.093 483.447 488.093 452.738 L 488.098 351.833 C 477.132 356.954 464.696 356.954 454.459 351.833 L 409.855 329.896 C 403.275 326.238 395.232 326.973 388.652 330.625 L 356.477 348.905 C 343.318 356.22 327.231 355.485 314.795 346.712 L 300.901 336.475 C 293.587 331.354 284.084 330.625 276.041 335.011 L 245.33 352.562 C 240.214 355.49 233.634 356.954 227.055 356.954 C 219.74 356.954 212.431 354.76 206.58 351.103 L 184.643 337.209 L 253.378 221.676 L 295.789 274.324 C 300.176 279.445 306.026 282.368 312.606 282.368 C 319.186 282.368 325.765 278.711 329.422 273.595 L 401.08 171.955 L 444.221 239.227 L 474.932 208.516 L 420.096 122.96 C 416.439 117.109 409.859 113.452 402.546 113.452 C 394.502 113.452 388.651 116.375 384.995 122.225 L 311.143 226.062 L 267.268 171.221 C 262.881 166.1 256.301 163.177 248.987 163.177 C 242.407 163.907 235.828 167.564 232.17 173.414 L 5.493 554.379 C 1.836 560.958 1.836 569.002 5.493 575.581 C 9.15 582.161 16.459 586.548 23.773 586.548 L 676.02 586.548 C 684.063 586.548 690.643 582.161 694.3 575.581 C 698.692 569.002 697.957 560.228 693.571 553.643 Z'/> <path d='M 458.848 305.033 C 466.892 313.076 480.786 313.076 488.829 305.033 L 523.926 269.936 L 523.926 452.009 C 523.926 463.71 533.434 473.212 545.129 473.212 C 556.83 473.212 566.332 463.704 566.332 452.009 L 566.337 269.936 L 601.434 305.033 C 605.821 309.419 610.942 310.883 616.057 310.883 C 621.178 310.883 627.023 308.69 630.68 305.033 C 638.724 296.989 638.724 283.095 630.68 275.052 L 559.752 204.123 C 556.095 200.466 550.245 198.273 545.129 198.273 C 540.008 198.273 534.163 200.466 530.506 204.123 L 459.578 275.052 C 450.805 283.095 450.805 296.989 458.849 305.033 Z'/></svg>");
}

#mapmenu .nav-list > li.altiProfil.active .icon,
#mapmenu .nav-list > li.altiProfil a:hover .icon {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='%23198cff' viewBox='0 0 700 700'><path d='M 693.569 553.647 L 600.703 407.403 L 600.703 452.738 C 600.703 484.177 575.108 509.043 544.398 509.043 C 513.688 509.043 488.093 483.447 488.093 452.738 L 488.098 351.833 C 477.132 356.954 464.696 356.954 454.459 351.833 L 409.855 329.896 C 403.275 326.238 395.232 326.973 388.652 330.625 L 356.477 348.905 C 343.318 356.22 327.231 355.485 314.795 346.712 L 300.901 336.475 C 293.587 331.354 284.084 330.625 276.041 335.011 L 245.33 352.562 C 240.214 355.49 233.634 356.954 227.055 356.954 C 219.74 356.954 212.431 354.76 206.58 351.103 L 184.643 337.209 L 253.378 221.676 L 295.789 274.324 C 300.176 279.445 306.026 282.368 312.606 282.368 C 319.186 282.368 325.765 278.711 329.422 273.595 L 401.08 171.955 L 444.221 239.227 L 474.932 208.516 L 420.096 122.96 C 416.439 117.109 409.859 113.452 402.546 113.452 C 394.502 113.452 388.651 116.375 384.995 122.225 L 311.143 226.062 L 267.268 171.221 C 262.881 166.1 256.301 163.177 248.987 163.177 C 242.407 163.907 235.828 167.564 232.17 173.414 L 5.493 554.379 C 1.836 560.958 1.836 569.002 5.493 575.581 C 9.15 582.161 16.459 586.548 23.773 586.548 L 676.02 586.548 C 684.063 586.548 690.643 582.161 694.3 575.581 C 698.692 569.002 697.957 560.228 693.571 553.643 Z'/> <path d='M 458.848 305.033 C 466.892 313.076 480.786 313.076 488.829 305.033 L 523.926 269.936 L 523.926 452.009 C 523.926 463.71 533.434 473.212 545.129 473.212 C 556.83 473.212 566.332 463.704 566.332 452.009 L 566.337 269.936 L 601.434 305.033 C 605.821 309.419 610.942 310.883 616.057 310.883 C 621.178 310.883 627.023 308.69 630.68 305.033 C 638.724 296.989 638.724 283.095 630.68 275.052 L 559.752 204.123 C 556.095 200.466 550.245 198.273 545.129 198.273 C 540.008 198.273 534.163 200.466 530.506 204.123 L 459.578 275.052 C 450.805 283.095 450.805 296.989 458.849 305.033 Z'/></svg>");
}

#dock-content .altiProfil h3 .icon{
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='%2323536f' viewBox='0 0 700 700'><path d='M 693.569 553.647 L 600.703 407.403 L 600.703 452.738 C 600.703 484.177 575.108 509.043 544.398 509.043 C 513.688 509.043 488.093 483.447 488.093 452.738 L 488.098 351.833 C 477.132 356.954 464.696 356.954 454.459 351.833 L 409.855 329.896 C 403.275 326.238 395.232 326.973 388.652 330.625 L 356.477 348.905 C 343.318 356.22 327.231 355.485 314.795 346.712 L 300.901 336.475 C 293.587 331.354 284.084 330.625 276.041 335.011 L 245.33 352.562 C 240.214 355.49 233.634 356.954 227.055 356.954 C 219.74 356.954 212.431 354.76 206.58 351.103 L 184.643 337.209 L 253.378 221.676 L 295.789 274.324 C 300.176 279.445 306.026 282.368 312.606 282.368 C 319.186 282.368 325.765 278.711 329.422 273.595 L 401.08 171.955 L 444.221 239.227 L 474.932 208.516 L 420.096 122.96 C 416.439 117.109 409.859 113.452 402.546 113.452 C 394.502 113.452 388.651 116.375 384.995 122.225 L 311.143 226.062 L 267.268 171.221 C 262.881 166.1 256.301 163.177 248.987 163.177 C 242.407 163.907 235.828 167.564 232.17 173.414 L 5.493 554.379 C 1.836 560.958 1.836 569.002 5.493 575.581 C 9.15 582.161 16.459 586.548 23.773 586.548 L 676.02 586.548 C 684.063 586.548 690.643 582.161 694.3 575.581 C 698.692 569.002 697.957 560.228 693.571 553.643 Z'/> <path d='M 458.848 305.033 C 466.892 313.076 480.786 313.076 488.829 305.033 L 523.926 269.936 L 523.926 452.009 C 523.926 463.71 533.434 473.212 545.129 473.212 C 556.83 473.212 566.332 463.704 566.332 452.009 L 566.337 269.936 L 601.434 305.033 C 605.821 309.419 610.942 310.883 616.057 310.883 C 621.178 310.883 627.023 308.69 630.68 305.033 C 638.724 296.989 638.724 283.095 630.68 275.052 L 559.752 204.123 C 556.095 200.466 550.245 198.273 545.129 198.273 C 540.008 198.273 534.163 200.466 530.506 204.123 L 459.578 275.052 C 450.805 283.095 450.805 296.989 458.849 305.033 Z'/></svg>");
    outline: none;
    background-position: unset;
}

#altiProfil-box {
    height: 100%;
    z-index: 100000;
    color: #333;
    overflow: hidden;
    font-size: 0.85em;
    max-width: 100%;
    min-width: 200px;
}

#dock-content #altiProfil .menu-content #profil-chart .altiProfil-spinner{
    display: inline-block;
    width: 80px;
    height: 80px;
}

#dock-content #altiProfil .menu-content #profil-chart .altiProfil-spinner{
    content: "";
    display: block;
    width: 34px;
    height: 34px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #474747 transparent #474747 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }

#mini-dock-content #altiProfil .menu-content #profil-chart .altiProfil-spinner{
    content: "";
    display: block;
    width: 34px;
    height: 34px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #474747 transparent #474747 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

#mini-dock .altiProfil h3 .icon {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='%2323536f' viewBox='0 0 700 700'><path d='M 693.569 553.647 L 600.703 407.403 L 600.703 452.738 C 600.703 484.177 575.108 509.043 544.398 509.043 C 513.688 509.043 488.093 483.447 488.093 452.738 L 488.098 351.833 C 477.132 356.954 464.696 356.954 454.459 351.833 L 409.855 329.896 C 403.275 326.238 395.232 326.973 388.652 330.625 L 356.477 348.905 C 343.318 356.22 327.231 355.485 314.795 346.712 L 300.901 336.475 C 293.587 331.354 284.084 330.625 276.041 335.011 L 245.33 352.562 C 240.214 355.49 233.634 356.954 227.055 356.954 C 219.74 356.954 212.431 354.76 206.58 351.103 L 184.643 337.209 L 253.378 221.676 L 295.789 274.324 C 300.176 279.445 306.026 282.368 312.606 282.368 C 319.186 282.368 325.765 278.711 329.422 273.595 L 401.08 171.955 L 444.221 239.227 L 474.932 208.516 L 420.096 122.96 C 416.439 117.109 409.859 113.452 402.546 113.452 C 394.502 113.452 388.651 116.375 384.995 122.225 L 311.143 226.062 L 267.268 171.221 C 262.881 166.1 256.301 163.177 248.987 163.177 C 242.407 163.907 235.828 167.564 232.17 173.414 L 5.493 554.379 C 1.836 560.958 1.836 569.002 5.493 575.581 C 9.15 582.161 16.459 586.548 23.773 586.548 L 676.02 586.548 C 684.063 586.548 690.643 582.161 694.3 575.581 C 698.692 569.002 697.957 560.228 693.571 553.643 Z'/> <path d='M 458.848 305.033 C 466.892 313.076 480.786 313.076 488.829 305.033 L 523.926 269.936 L 523.926 452.009 C 523.926 463.71 533.434 473.212 545.129 473.212 C 556.83 473.212 566.332 463.704 566.332 452.009 L 566.337 269.936 L 601.434 305.033 C 605.821 309.419 610.942 310.883 616.057 310.883 C 621.178 310.883 627.023 308.69 630.68 305.033 C 638.724 296.989 638.724 283.095 630.68 275.052 L 559.752 204.123 C 556.095 200.466 550.245 198.273 545.129 198.273 C 540.008 198.273 534.163 200.466 530.506 204.123 L 459.578 275.052 C 450.805 283.095 450.805 296.989 458.849 305.033 Z'/></svg>");
    outline: none;
    background-position: unset;
}
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
#altiProfil .menu-content {
    max-height: max-content !important;
}
#altiProfil-box .js-plotly-plot .plotly .main-svg {
    background: transparent !important;
}
#altiProfil .menu-content {
    padding: 0.2em !important;
}
#dock #altiProfil-stop {
    display: none;
}
